.container {
    width: 100%;
    min-height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: .9;
    backdrop-filter: blur(5px);
}

.linneo {
    color: var(--main-color);
    font: var(--title-font);
}

.menuContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notificationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
}

.notification {
    position: absolute;
    top: -0.5rem;
    right: -0.3rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
    font-size: 0.8rem;
    padding: 0 0.3rem;
}

.menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    cursor: pointer;
}

.menu span {
    width: 100%;
    height: 0.2rem;
    background-color: var(--white);
    border-radius: 0.6rem;
}

.menu>* {
    transition: transform 0.6s linear, background-color 0.6s linear,
        opacity 0.4s linear;
}

.menuOpen :nth-child(1) {
    transform: rotateX(180deg) translateY(-0.3rem);
    background-color: var(--main-color);
}

.menuOpen :nth-child(2) {
    transform: rotateX(-180deg);
    opacity: 0;
}

.menuOpen :nth-child(3) {
    transform: rotateX(-180deg) translateY(0.3rem);
    background-color: var(--main-color);
}

.list {
    position: absolute;
    right: 0;
    top: 3rem;
    z-index: 3;
    height: calc(100vh - 3rem);
    width: 0;
    opacity: 0;
    overflow: hidden hidden;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
    background-color: var(--secondary-background-color);
    transition: width 0.4s linear, opacity 0.3s linear;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.listShow {
    width: 12rem;
    opacity: 1;
    padding: 0.7rem 1rem 0.7rem 1.5rem;
}