.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 237, 234);
  height: calc(100vh - 4rem);
  overflow: hidden auto;
  width: 100%;
}

.main::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.main::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.imageCarrusel {
  width: 100vw;
  height: calc(100vh - 6.38889rem);
  object-fit: cover;
  overflow: hidden;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1)
  );
  position: relative;
}

.text {
  position: absolute;
  bottom: 3.5rem;
  font-size: 2.5rem;
  color: white;
  z-index: 3;
  color: white;
  /* Color de las letras */
  text-shadow: 2px 2px 2px black;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .imageCarrusel {
    width: 100vw;
  }

  .text {
    font-size: 1.2rem;
  }
}

.image {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  padding: 3rem 12rem;
}

.carouselIndexers {
  background-color: transparent;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.carouselIndexers div {
  background-color: var(--white);
}

div.carouselArrows {
  height: 3rem;
  width: 3rem;
}

.filter {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  z-index: 15;
  top: 0;
  left: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 2rem 4rem;
  gap: 2rem;
}

.hoAre {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-weight: 600;
  font-size: 2rem;
  color: var(--main-color);
}

.titleDark {
  font-weight: 600;
  font-size: 2rem;
  color: var(--back);
  margin: 0;
}

.textInfo {
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
}

.work {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: var(--main-color);
  border-radius: 0.6rem;
  height: 35rem;
}

.textInfoCard {
  font-size: 1.2rem;
  font-weight: 400;
  width: 50%;
  height: 100%;
  padding: 2rem;
  color: white;
  display: flex;
  align-items: center;
}

.workImage {
  width: 50%;
  height: 100%;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.containerMap {
  width: 100%;
}

.containerMap h2 {
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.cardContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 950px) {
  .work {
    flex-direction: column;
    height: max-content;
  }

  .textInfoCard {
    width: 100%;
  }

  .workImage {
    height: 30rem;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .info {
    padding: 1rem;
  }

  .work {
    width: 95%;
  }

  .cardContainer {
    flex-direction: column;
    width: 80%;
  }
}
